.main{
    background: rgb(228, 247, 255);
    padding: 0 5%;
}
.topbar{
    background: rgba(255, 255, 255,0.7);
    border-radius: 10px;
    padding: 5px 10px;
    margin: 8px auto;
    box-shadow: 0 0 1px 1px;
}
.leftbar{
    background: rgba(255, 255, 255,0.7);
    padding:10px ;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px;
}
.rightbar{
    background: rgba(255, 255, 255,0.7);
    padding:10px ;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px;
}
.meetimg{
    width: 100%;
    height: 400px;
    border-radius: 20px;
    background: url("../partenerWoek1/png/meet.png") no-repeat;
    background-size: contain;
    background-position: 50%;
}
.luntanimg{
    width: 100%;
    height: 100px;
    border-radius: 20px;
    background: url("../partenerWoek1/png/meet.png") no-repeat;
    background-size: contain;
    background-position: 50%;
}
.btn-default{
    display: inline-block;
    border: 0;
    background: none ;
    box-shadow: none;
    margin-left: 14px ;
}
.login{
    background: blue;
    color: white;
    font-weight: lighter;
}
.col-md-2{

    line-height: 48px;
}
.col-md-3{
    margin: 4%;
    padding: 10px;
    background: rgba(204, 204, 204, 0.5);
    border-radius: 10px;
    border: 1px black solid;
}
