.main{
    background: white;
    padding: 0 5%;
}
.topbar{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    border-bottom: 1px black solid;
    background-color:white;
    padding: 5px 80px;
    z-index: 1;
}
.rightbar{
    background: rgba(255, 255, 255,0.7);
    padding:10px ;
    border-radius: 10px;
    box-shadow: 0 0 1px 1px;
}
.btn-default{
    display: inline-block;
    border: 0;
    background: none ;
    box-shadow: none;
    margin-top: 10px;
    margin-left: 14px ;
    text-shadow: none;
}
.login{
    background: blue;
    color: white;
    font-weight: lighter;
}
.col-md-2{
    line-height: 48px;
}
.col-md-3{
    margin: 4%;
    padding: 10px;
    border-radius: 25px;
    border: 1px black solid;
}
.rightBodyer
{
    width:80%;
    text-align: right;
    float: right;
    clear: right;
    overflow:hidden;
}
.leftBodyer
{
    border: black;
    width:20%;
    text-align:left;
    float: left;
    clear: left;
    overflow:hidden;
    border-width:1px,1px,1px,1px;
    border-color: black;
}
#hr
{
   border:10px;
   height:1px;
   background-color: black;

}
.notice
{
    margin:0px;
    width: 150px;
    height: 1000px;
    text-align:left;
    border:1px solid black;
    border-radius: 30px;
}

#a
{
 border: none;
 background-color: white;
 margin-top: 20px;
 margin-left: 1px;
}

